body {
    background-color: rgb(28, 0, 155);
    background-image: url('./img/fundo.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-attachment: fixed; /* Faz a imagem de fundo permanecer fixa durante a rolagem */
    background-position: center; /* Centraliza a imagem */
  }

.titulo {
    color: aqua;
}
  .quiz-card {
    background-color: #2f2555b6;
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 100%;
    max-width: 600px;
    text-align: center;

    color: rgb(255, 255, 255);
    font-family: 'League Spartan', sans-serif !important;
    letter-spacing: -1.0px; /* Ajusta o espaçamento entre letras, aproxima */
    text-shadow: 1.5px 2px 2px rgba(19, 18, 18, 0.7); /* Adiciona sombra ao texto */
  }
  
  .quiz-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .quiz-question {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .quiz-image {
    border: 5px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .quiz-options .btn {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
  }


@media (max-width: 1200px) {
    .quiz-card {
        width: 70%; /* Ajusta a largura do card para 70% da tela */
        max-width: 600px; /* Define uma largura máxima para o card */
        margin: 20px auto; /* Centraliza o card horizontalmente */
    }
}

@media (max-width: 992px) {
    .quiz-card{
        width: 80%; /* Aumenta a largura do card para 80% da tela */
        max-width: 500px; /* Define uma largura máxima para o card */
        margin: 20px auto; /* Centraliza o card horizontalmente */
    }
}

@media (max-width: 768px) {
    .quiz-card {
        width: 90%; /* Aumenta a largura do card para 90% da tela */
        max-width: 500px; /* Define uma largura máxima para o card */
        margin: 20px auto; /* Centraliza o card horizontalmente */
        padding: 20px; /* Padding para dar espaço interno */
    }
    body{
        background-image: url('./img/fundoDispMedios.png'); /* Substitua pelo caminho da sua imagem */
        background-size: cover; /* Faz com que a imagem cubra todo o fundo */
        background-repeat: no-repeat; /* Impede que a imagem se repita */
        background-attachment: fixed; /* Faz a imagem de fundo permanecer fixa durante a rolagem */
        background-position: center; /* Centraliza a imagem */
    }
}
@media (max-width: 576px) {
    .quiz-card {
        width: 90%; /* Aumenta a largura do card para 90% da tela */
        max-width: 500px; /* Define uma largura máxima para o card */
        margin: 20px auto; /* Centraliza o card horizontalmente */
        margin-top: 100px;
        padding: 20px; /* Padding para dar espaço interno */
    }
    body{
        background-image: url('./img/fundo1DispMoveis.png'); /* Substitua pelo caminho da sua imagem */
        background-size: cover; /* Faz com que a imagem cubra todo o fundo */
        background-repeat: no-repeat; /* Impede que a imagem se repita */
        background-attachment: fixed; /* Faz a imagem de fundo permanecer fixa durante a rolagem */
        background-position: center; /* Centraliza a imagem */
    }
}